<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       
        <context:annotation-config />
	<!-- 配置注解的自动扫描 -->
	<context:component-scan base-package="com.iqb" />

    <import resource="db/db_init.xml"/>
    <import resource="mq/queue-thread-config.xml"/>
	<import resource="redis/spring-data-redis.xml" />
	<import resource="mongo/spring-jdbc-mongo-dbs.xml" />
    
</beans>